name: arq-wildfly-managed

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: "21"
        distribution: "temurin"
        cache: "maven"
    - name: Run Tests on Wildfly
      run: mvn -B -q clean verify -Parq-wildfly-managed
